body {
    font-family: monospace;
    background-color: rgb(255, 166, 0);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}